*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}

.d1{
  padding: 5px;
  background-color: darkslateblue;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d2{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  gap: 10px;
}
button{
  height: 50px;
  width: 70px;
}